.delete{
    width: 5%;
}
.fooditem{
    width: 100%;
}
.foodamount, .unit{
    width: 10%;
}
.foodrow:nth-child(odd) td{
    background-color: #f8f9fa;
}
.autocomplete-items{
    position: absolute;
    z-index: 9;
    top: 100%;
    left: 0;
    right: 0;
    overflow: scroll;
    max-height: 200px;
}
.autocomplete-items div{
    cursor: pointer;
    background-color: white;
}
.autocomplete-items div:hover{
    background-color: #f8f9fa;
}
/*body {
    background-image: url('ntFmJUZ8tw3ULD3tkBaAtf-970-80.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}*/
