{% extends 'base.html' %} 


{% block head %}
    <title>Recipe Builder</title>
    <script type='text/javascript' src='{{ url_for("static", filename="js/recipe-builder.js") }}'></script>
{% endblock %}


{% block body %}
<form autocomplete='off'>
    <label>Food Search:</label>
    <div style='position: relative; display: inline-block; width:45%;'>
        <input id='foodsearch' name='foodsearch' style='width: 100%;'>
    </div>
    <input type='submit' form='foodsearch' value='Add Food'>
</form>
<br>
<div style='width: 60%; height: 355px; overflow-y: scroll;'>
    <table id='foodtable'>
    <colgroup>
        <col class='delete' />
        <col class='fooditem' />
        <col class='foodamount' />
        <col class='unit' />
    </colgroup>
    
    {% for x in range(0,10) %}
        
        <tr class='foodrow' id='foodrow{{x}}'>
            <td style='text-align:center'><button id='delete{{x}}' style='border-radius: 50%;' onclick='resetRow(this.id)'>X</Button></td>
            <td style='text-align:left' id='item{{x}}' class='text'></td>
            <td>
                <input type='number' id='amount{{x}}' value=0 step=1 min=0 max=10000 size=3>
            </td>
            <td>
                <select>
                    <option id='unit{{x}}' value='g'>g</option>
                </select>
            </td>
        </tr>
    
    {% endfor %}

    </table>
</div>
<script>
var input = document.getElementById('foodsearch');
delay(input);
</script>
{% endblock %}
