{% extends 'base.html' %} 


{% block head %}
    <title>Recipe Builder</title>
    <script type='text/javascript' src='{{ url_for("static", filename="js/recipe-builder.js") }}'></script>
{% endblock %}


{% block body %}
<div style='padding: 50px;'></div>
<div class='container'>
    <div class='row'>
        <div class='col-6'>
            <input id='foodsearch' style='width: 100%;' autocomplete='off' placeholder='Search foods...'>
        </div>
        <div class='col-0'>
            <button onclick='addFood()'>Add</button>
        </div>
        <div class='col-5'>
            <label id='profileage'></label>
            <select id='nutrientProfile' autocomplete='off' onchange='loadProfile(this)'>
                <option selected>Nutrient Profiles</option>
                {% for age_range in p.keys() %}
        
                    <optgroup label='{{ age_range }}'>
    
                    {% for gender in p[age_range].keys() %}
        
                        <option>{{ gender }}</option>
            
                    {% endfor %}
        
                    </optgroup>
            
                {% endfor %}
        
            </select>
        </div>
    </div>
</div>    
<br><br>
<div class='container'>
    <div class='row'>
        <div class='col-sm'>
            <div style='overflow-y: scroll;'>
                <table class='table table-striped table-sm' id='foodtable'>
                <colgroup>
                    <col class='delete'>
                    <col class='fooditem'>
                    <col class='foodamount'>
                    <col class='unit'>
                </colgroup>
    
                {% for x in range(0,10) %}
        
                    <tr class='foodrow' id='foodrow{{x}}'>
                        <td style='text-align:center'><button id='delete{{x}}' style='border-radius: 50%;' onclick='resetRow(this)'>X</Button></td>
                        <td style='text-align:left' id='item{{x}}' class='text'></td>
                        <td>
                            <input type='number' id='amount{{x}}' autocomplete='off' value=0 step=1 min=0 max=10000 size=3 onchange='updateFood(this)'>
                        </td>
                        <td>
                            <select>
                                <option id='unit{{x}}' value='g'>g</option>
                            </select>
                        </td>
                    </tr>
    
                {% endfor %}

                </table>
            </div>
        </div>
        <div class='col-sm'>
            <div style='text-align: center; font-weight: bold; width: 75%; margin: auto; background-color: #f8f9fa; border-top-right-radius: 10px; border-top-left-radius: 10px;'>
            Macronutrients
            </div>
            <br>
            <table id='macros' style='width: 100%;'>
                <colgroup>
                    <col style='width: 40%;'>
                    <col style='width: 20%;'>
                    <col style='width: 20%;'>
                    <col style='width: 20%;'>
                </colgroup>
                <tr>
                    <td></td>
                    <td style='text-align: right;'>Current</td>
                    <td style='text-align: right;'>Goal</td>
                    <td style='text-align: center;'>%</t>
                </tr>
            
                {% for x,y in macros.items() %}
            
                    <tr>
                        <td style='text-align: right; padding-left: 10px;'>{{y[0] + ', ' + y[1]}}</td>
                        <td id='{{y[0]}}' class='0' style='text-align: right;'>0</td>
                        <td id='{{y[0]}}Goal' style='text-align: right;'></td>
                        <td id='{{y[0]}}Perc' style='text-align: center;'></td>
                    </tr>
            
                {% endfor %}
            
            </table>
        </div>
    </div>
    <div class='row'>
        <div class='col-sm'>
            <div style='text-align: center; font-weight: bold; width: 75%; margin: auto; background-color: #f8f9fa; border-top-right-radius: 10px; border-top-left-radius: 10px;'>
            Vitamins
            </div>
            <br>
            <table id='vitamins' style='width: 100%;'>
                <colgroup>
                    <col style='width: 45%;'>
                    <col style='width: 20%;'>
                    <col style='width: 20%;'>
                    <col style='width: 15%;'>
                </colgroup>
                <tr>
                    <td></td>
                    <td style='text-align: right;'>Current</td>
                    <td style='text-align: right;'>Goal</td>
                    <td style='text-align: center;'>%</t>
                </tr>
            
                {% for x,y in vitamins.items() %}

                    <tr>
                        <td style='text-align: right; padding-left: 10px;'>{{y[0] + ', ' + y[1]}}</td>
                        <td id='{{y[0]}}' class='0' style='text-align: right;'>0</td>
                        <td id='{{y[0]}}Goal' style='text-align: right;'></td>
                        <td id='{{y[0]}}Perc' style='text-align: center;'></td>
                    </tr>
                
                {% endfor %}
            
            </table>
        </div>
        <div class='col-sm'>
            <div style='text-align: center; font-weight: bold; width: 75%; margin: auto; background-color: #f8f9fa; border-top-right-radius: 10px; border-top-left-radius: 10px;'>
            Minerals
            </div>
            <br>
            <table id='minerals' style='width: 100%;'>
                <colgroup>
                    <col style='width: 40%;'>
                    <col style='width: 20%;'>
                    <col style='width: 20%;'>
                    <col style='width: 20%;'>
                </colgroup>
                <tr>
                    <td></td>
                    <td style='text-align: right;'>Current</td>
                    <td style='text-align: right;'>Goal</td>
                    <td style='text-align: center;'>%</t>
                </tr>
            
                {% for x,y in minerals.items() %}
            
                    <tr>
                        <td style='text-align: right; padding-left: 20px;'>{{y[0] + ', ' + y[1]}}</td>
                        <td id='{{y[0]}}' class='0' style='text-align: right;'>0</td>
                        <td id='{{y[0]}}Goal' style='text-align: right;'></td>
                        <td id='{{y[0]}}Perc' style='text-align: center;'></td>
                    </tr>
                
                {% endfor %}
            
            </table>
        </div>
    </div>
</div>
<script>
var input = document.getElementById('foodsearch');
delay(input);
var profiles = {{ p|safe }};
</script>
{% endblock %}
